*{
    padding: 0;
    margin: 0;
}

nav img{
    height: 30px;
    width: 30px;
    margin-left: 125px;
    margin-top: -25px;
    
}
header h2{
    text-align: center;
    color: aqua;
}
header{
    display: flex;
    
}

header img{
    max-width: 96%;
    
}

header p{
   font-size: 35px;
   color: aliceblue;
   font-family: 'Times New Roman', Times, serif;
}
header button{
    margin-left: 270px;
    padding: 20px;
    color: aliceblue;
}

header button:hover{
  background-color: aqua;
  color: blueviolet;
}

section{
    display: inline-block;
    padding: 20px;
    background-color: darkgoldenrod;
    padding-right: 160px;
}
.tudo{
    background-color: darkgoldenrod;
}
.card{
    margin-left: 104px;
}
footer{
    background-color: chartreuse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
}

.formulario{
    background-color: darkgoldenrod;
}
