*{
    padding: 0;
    margin: 0;
}

nav img{
    height: 25px;
    width: 25px;
}
header h2{
    text-align: center;
    color: aqua;
}
header{
    display: flex;
    
}

header img{
    max-width: 96%;
    
}

header p{
   font-size: 35px;
   color: aliceblue;
   font-family: 'Times New Roman', Times, serif;
}

header button:hover{
  background-color: aqua;
  color: blueviolet;
}

section{
    padding: 20px;
    background-color: darkgoldenrod;
    padding: 20px;
}
.tudo{
    background-color: darkgoldenrod;
}

footer{
    background-color: chartreuse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
}

.formulario{
    background-color: darkgoldenrod;
}

.depoimentos{
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 10px;
    padding-top: 100px;
}
