@media (max-width:1005px){

    header{
        flex-direction:column;
        text-align:center;
    }

    header img{
        display:block;
        width:80%;
        margin:20px auto;
    }

}

@media (max-width:865px){

    header p{
        font-size:22px;
    }

}