@media (max-width: 1005px) {
    header img {
        display: none;
    }
    .navbar-brand{
        text-align: center;
    }
    #navbarSupportedContent{
        display: none;
    }
    header button{
        margin-left: 430px;
    }
}

@media (max-width: 865px){
    header button{
        display: none;
    }
}